.logo-container {
    width: 115px;
    height: 33px;
    position: absolute;
    top: 0;
    left: 0;
}

.Introduce-container {
    width: 33%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Introduce-container img {
    width: 100%;
    height: auto; 
    margin-left: auto;
    margin-right: auto; 
}

.StartVideo-container {
    width: 100vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.StartVideo-container .input-container {
    display: flex;
    gap: 18px;
}

.StartVideo-container .input-container input {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 9px;
    border: 1px solid #7CD2D7;
} 

.StartVideo-container .input-container button {
    display: block;
    font-size: 17px;
    width: 100%;
    padding: 10px 20px;
    background-color: #7CD2D7;
    font-family: 'Poppins', sans-serif;
    border: none; 
    border-radius: 9px; 
    position: relative;
    cursor: pointer;
}